<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
        <style type="text/css">
        body{
            background-color: #444;
        }
        *{  
            font-family: Verdana;
            margin: 0;
            padding: 0;
            list-style:none;
        }
        .wrap{
            width: 1300px;
            margin: 30px auto;
            color: #ccc;
            padding: 20px;
            border: 1px solid #eee;
        }
        .wrap .size{
            margin-bottom: 20px;
            text-align: right;
        }
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        form .keyword{
            color: #fff;
            text-align: center;
            padding: 3px;
            width: 200px;
            line-height: 25px;
            font-size: 18px;
            border-radius: 5px;
            background-color: transparent;
            outline: 0;
            border: 1px solid #fff;
        }
        .btn{
            font-size: 18px;
            width: 80px;
            height: 30px;
            color: #444;
            border-radius: 5px;
         }
        .row {
            display: flex;
            line-height: 30px;
            padding: 5px;
        }
        .row a{
            width: 100%;
            line-height: 30px;
            display: flex;
            padding: 5px;
            text-decoration: none;
            color: #eee;
            border-radius: 5px;
            transition: .3s;
        }
        .box{
            margin: 0 10px 0;
            border-radius: 5px;
            padding: 0px 5px;
        }
        .row a:hover{
            background-color: #eee;
            color: #111;
        }
        .box.index{
            width: 25px;
            text-align: right;
            padding: 0 10px 0px 0;
        }
        .box.shop{
            width: 180px;
        }
        .box.name{
            display: inline-block;
            width: 750px;
        }
        .box.price{
            width: 60px;
            text-align: right;
        }
        .head.price{
            text-align: center;
        }
        .searchbox{
            width: 100%;
            font-size: 18px;
            line-height: 30px;
            padding: 2px;
            position: relative;
            top: 1px;
            right: 4px;
            border-radius: 5px;
            background-color: transparent;
            text-align: center;
        }
        .thead{
            border-bottom: 1px solid #fff;
            line-height: 40px;
            text-align: center;
        }
        .head:hover{
            background-color: #ddd;
            color: #111;
        }
        .head input:focus{
            background-color: transparent;
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="wrap">
    <%= Time.now%>
    <header>
        <h1>Result</h1>
        <form action="/result" method="get">
            <input type="text" name="keyword" placeholder="預設搜索/請輸入關鍵字" class="keyword">
            <input type="submit" value="送出" class="btn"> 
        </form>
    </header>
    <p class="size">共 <%= @ary.size%> 筆資料 / 僅顯示前20頁查詢結果</p>
    <div class="table">
        <div class="row thead">
                <div class="box head index">
                    <span>No</span>
                </div>
                <div class="box head shop">
                    <span>來源</span>
                </div>
                <div class="box head name">
                    <span>商品名稱</span>
                </div>
                <div class="box head price">
                    <span>售價</span>
                </div>
                <div class="box head price">
                    <span>原價</span>
                </div>
                <div class="box head price">
                    <span>折數</span>
                </div>
        </div>

        <div class="tbody">
            <% @ary.each.with_index do |elem, i|%>
            <div class="row">
                <a href="<%= elem[1][:url] %>" target="_blank">
                <div class="box index">
                    <%= i + 1 %>
                </div>
                <div class="box shop">
                    <%= elem[1][:from_shop]%>
                </div>
                <div class="box name">
                    <%= elem[1][:item_name]%>
                </div>
                <div class="box price">
                    <%= elem[1][:now_price] %>
                </div>
                <div class="box price">
                    <%= elem[1][:ori_price] %>
                </div>
                <div class="box price">
                    <%= if elem[1][:ori_price] != nil
                            "#{(elem[1][:now_price].to_f / elem[1][:ori_price]).round(2)}"
                        end %> 
                </div>
                </a>
            </div>
            <% end %>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">  
$(document).ready(function() {
  //table sort
  $(document).on('click', '.head', function() {
      let table = $(this).parents('.table').eq(0);
      let rows = table.find('.tbody .row').toArray().sort(comparer($(this).index()));
      this.asc = !this.asc;
      if (!this.asc) { rows = rows.reverse(); }
      table.children('.tbody').empty().html(rows)
  });
  function comparer(index) {
      return function(a, b) {
          let valA = getCellValue(a, index),
              valB = getCellValue(b, index);
          return $.isNumeric(valA) && $.isNumeric(valB) ?
              valA - valB : valA.localeCompare(valB);
      };
  }
  function getCellValue(row, index) {
      return $(row).find(`.box:eq(${index})`).text()
  }

  let search_index;
  let rows = $('.table').find('.tbody .row').toArray();

  //table search
  $('.head').on('dblclick', function(e) {
      search_index = $(this).index()

      if (!$('.searchbox').is(":focus") && search_index !== 0){
          $(`.thead span:eq(${search_index})`).hide()
          if (search_index >= 3){
              $("<input class='searchbox' type='text' placeholder='大於'>").appendTo(this).focus();
          } else{
              $("<input class='searchbox' type='text' placeholder='請輸入關鍵字'>").appendTo(this).focus();
          }
      }
  });
  $(document).on('focusout','.searchbox', function () {
      let $this = $(this);
      if ($('.searchbox').val() === ""){
          $(`.thead span`).show()
          $('.thead').find('.searchbox').remove();
      }
  });
  $(document).on('keyup','.searchbox', function () {
      let search_text = $(this).val()
      $('.table').children('.tbody').empty().html(findresults(search_text))
  });
  function findresults(search_text){
      if ($.isNumeric(getCellValue(rows[0], search_index))){
          return results = rows.filter(x => getCellValue(x, search_index) > Number(search_text))
      }
      else{
          return results = rows.filter(x => getCellValue(x, search_index).toLowerCase().match(search_text))
      }
  };
})


</script>
</body>
</html>




